@model BookModel;
@{
    Layout = "_Layout";
}

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <form method="post" asp-action="AddBook">
        <div class="form-group">
            <label asp-for="BookName">Book Name</label>
            <input asp-for="BookName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="AuthorName">Author Name</label>
            <input asp-for="AuthorName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
        </div>
        <div class="form-group">
            <label asp-for="Catagory">Catagory</label>
            <input asp-for="Catagory" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="TotalPages">Total Pages</label>
            <input asp-for="TotalPages" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Languages">Total Pages</label>
            <input asp-for="Languages" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Add Book" class="btn btn-primary" />
        </div>
    </form>
</div>


    