
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContractUs</title>
</head>
<body>
    <p>This is contract page</p>
</body>
</html>
